@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

@font-face {
    font-family: "Happy-Day";
    src: url("/fonts/Happy-Day.ttf") format(‘truetype’);
}

body
{
    /*padding: 2%; 2% de la page*/
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #F8EFEA;
    color: #111C59;
}


/* PARALLAX EFFECT */

.parallax1{
    background: url("../img/fleurs/pexels-secret-garden-931177-horizontal.jpg");
}

.parallax2{
    background: url("../img/fleurs/pexels-secret-garden-931177-horizontal-30.png");
}

.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh; /* Prendra 100% de la hauteur du viewport, et donc de l'écran */
}


/* BANDEAU NAVIGATION */

/*Menu V1*/

nav
{
    padding: 0.5%;
    display: flex; /*on dit qu'on va utiliser les flexbox*/
    flex-direction: row;
    flex-wrap: wrap; /*passer à la ligne lorsque les éléments ne rentrent pas*/
    justify-content: space-between;
    align-items: center;
    position: sticky; /*reste au dessus de la page*/
    top:0; /*en haut de l'écran*/
    background-color: #F8EFEA;
}

nav .profile
{
    display: flex;
    align-items: center;
}

nav .profile img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav h1
{
    margin-left: 10px;
    font-size: 50px;
}

nav ul
{
    display: flex;
    list-style-type: none; /*enlève les puces*/
}

nav a
{
    margin-left: 20px;
    cursor: pointer;
    background-color: #E0475B;
    box-shadow: 3px 3px #111C59;
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;;
}

nav a:hover{
    background-color: #111C59;
    box-shadow: 3px 3px #E0475B;
}

/*Menu au scroll*/

#menuScroll, .navScroll, .menu {
    display: flex;
    align-items: center;
}

.navScroll {
    position: relative;
    background-color: #102542;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navScroll input:checked ~ .menu {
    width: 630px;
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s;
}

.menu li a:hover {
    color: #E0475B;
}

.navScroll input {
    width: 50px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.navScroll span {
    position: absolute;
    left: 23px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: white;
    pointer-events: none;
    transition: 0.5s;
}

.navScroll input:checked ~ span {
    background-color: #E0475B;
}

.navScroll span:nth-child(2) {
    transform: translateY(-8px);
}

.navScroll input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.navScroll span:nth-child(3) {
    transform: translateY(8px);
}

.navScroll input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}


/* HEADER */

#header
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titreHeader
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header h1
{
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 5px 5px #102542;
    letter-spacing: 6px;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
}

#header h2{
    margin: 0;
    color: 102542;
    text-shadow: 3px 3px white;
    letter-spacing: 6px;
    font-family: 'Bebas Neue', cursive;;
    font-size: 50px;
}

#header button
{
    background-color: inherit;
    border: none;
    outline: none; /*pas de contour lorsqu'on clique*/
    padding: 0; /*pas de marge à l'intérieur du bouton*/
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

#header button:hover
{
    color: grey;
    border-bottom-color: black;
}


/* CONTENU DE LA PAGE */

.page-content h2
{
    /* font-family: 'Arvo', serif; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 0 0 40px 0;

    background: linear-gradient(transparent 50%, #F7E579 50%, #F7E579 85%, transparent 75%, transparent 100%);
      background-repeat: no-repeat;
      background-size: 0% 50%;
      animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

.page-content h3
{
    /* font-family: 'Arvo', serif; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
}

.page-content h4
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.page-content .description
{
    font-size: 16px;    
}

.page-content ul
{
    font-size: 14px;
    padding: 0;
    margin-left: 1.2em;
}

.page-content .date
{
    font-size: 14px;
    color: grey;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}


/* CONTENU DE LA PAGE : organisation des div */

.section-projets, .section-pro, .section-education
{
    padding: 10% 0 0 0;
}

.section-pro, .section-education
{
    height: 100vh;
}

/*
.page-content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.page-content > section {
    scroll-snap-align: start;
}
*/


/* CONTENU DE LA PAGE : projets */

.page-content .section-projets .projets
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: space-evenly;
}

.page-content .section-projets .projets .projet
{
    max-width: 200px;
    margin-bottom: 30px;
    text-align: center;
}

.page-content .section-projets .projets .projet .langage
{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color:#111C59;
    background-color:#F7E579;
    border-radius: 10px;
    padding: 6px;
    margin-top:10px;
}

.page-content #projets img
{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}


/* CONTENU DE LA PAGE : expériences pro */

.page-content .section-pro .jobs
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: space-evenly;
}

.page-content .section-pro .jobs .job
{
    max-width: 350px;
    margin-left: 20px;
    text-align: center;
}

.page-content .section-pro .jobs .job ul
{
    text-align: left;
    font-size: 16px;
}

.page-content .section-pro .jobs .job li
{
    padding: 5px 0 5px 0;
}

.page-content .section-pro .jobs .job img
{
    height: 30px;
    border-radius: 10%;
    padding: 5px;
    background-color: white;
}


/* CONTENU DE LA PAGE : formations */

.page-content .section-education .formations
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardBox {
    margin: 2%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 300px;
  }
  
  .cardBox:hover .card {
    transform: rotateY( 180deg);
  }
  
  .card {
    width: 100%;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    backface-visibility: hidden;
    box-sizing: border-box;
    /* display: block; */
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
  }
  
  .card .front{
    color: #111C59;
    background-color: #F7E579;
    box-shadow: 4px 4px #111C59;
    display:flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .card .back {
    transform: rotateY( 180deg);
    color: white;
    background-color: #111C59;
    box-shadow: 3px 3px #F7E579;
    display:flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }


/* FOOTER */

footer
{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #102542;
    color: white;
    padding: 10px;
    text-align: center;
}

#footer p, #footer a
{
    font-size: 12px;
    cursor: pointer;
    background-color: #E0475B;
    /*box-shadow: 3px 3px white;*/
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}









/*TEST*/

.projects{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;  
}

.left, .middle, .right{
    width: 300px;
}

.middle{
    padding: 0 50px 0 50px;
    background-color:#F7E579;
    display: flex;
    align-items: center;
    z-index: 2;
}

.middle .content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left, .right{
    opacity: 0;
    width: 0px;
    transition: 0.3s ease-in-out all;
}

.projects img{
    height: 100%;
}





/*ne s'exécute que quand la largeur d'écran est <= 700px*/

@media screen and (max-width:700px)
{
    .navScroll, .menu {
        flex-direction: column;
    }
    .navScroll input:checked ~ .menu {
        width: 200px;
    }
    #menuScroll, li {
        padding: 5px;
    }
    .navScroll input {
        width: 20px;
        height: 20px;
    }
    .navScroll span {
        left: 50%;
        width: 20px;
    }

    h1{
        font-size: 80px !important;
    }

    header h2{
        font-size: 40px !important;
        text-shadow: 2px 2px white !important;
    }

    .page-content h2{
        font-size: 40px !important;
        letter-spacing: 5px !important;
    }

    .page-content header{ /*occupe 100% de la taille*/
        margin-top: 10px;
        max-width: 100%;
    }

    .page-content .section-pro .jobs .job{
        max-width: 100%;
    }

    .page-content .section-education .formations .formation{
        max-width: 100%;
    }

    .content h3, p{
        margin: 0;  
    }

    footer{
        justify-content: flex-start;
        justify-content: center;
        text-align: center;
    }
    footer .colonne{
        max-width: 80%;
    }

}