.section {
   width: 100%;
   position: relative;
   height: 300px;
}

.section .left, .middle, .right {
    width:100%;
    display: block;
    color: #fff;
    box-sizing: border-box;
    left: 0;
    padding: 30px;
    text-align:center;
    overflow:hidden;
    -webkit-transition: 0.3s ease-in-out all;
    transition:         0.3s ease-in-out all;
}

.left .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
   
section.animate .left {
    left:0;
}
      
section.animate .right {
    left:0;
}
      
.section .middle {
    background: slategray;
    z-index: 2;
    padding:0;
}
    
.section .middleimg {
    width: 100%;
    height: auto;
    display:block;
}