@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

@font-face {
    font-family: "Happy-Day";
    src: url("/fonts/Happy-Day.ttf") format(‘truetype’);
}

body
{
    /*padding: 2%; 2% de la page*/
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #F8EFEA;
    color: #102542;
}


/* PARALLAX EFFECT */

.parallax1{
    background: url("../img/fleurs/pexels-secret-garden-931177-horizontal.jpg");
    height: 100vh; /* Prendra 100% de la hauteur du viewport, et donc de l'écran */
}

/* .parallax2{
    background: url("../img/fleurs/pexels-angello-4019143.jpg");
}

.parallax3{
    background: url("../img/fleurs/pexels-magda-ehlers-985266.jpg");
}

.parallax4{
    background: url("../img/fleurs/pexels-pixabay-68507.jpg");
} */

.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/* BANDEAU NAVIGATION */

/*Menu V1*/

nav
{
    padding: 0.5%;
    display: flex; /*on dit qu'on va utiliser les flexbox*/
    flex-direction: row;
    flex-wrap: wrap; /*passer à la ligne lorsque les éléments ne rentrent pas*/
    justify-content: space-between;
    align-items: center;
    position: sticky; /*reste au dessus de la page*/
    top:0; /*en haut de l'écran*/
    background-color: #F8EFEA;
}

nav .profile
{
    display: flex;
    align-items: center;
}

nav .profile img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav h1
{
    margin-left: 10px;
    font-size: 50px;
}

nav ul
{
    display: flex;
    list-style-type: none; /*enlève les puces*/
}

nav a
{
    margin-left: 20px;
    cursor: pointer;
    background-color: #E0475B;
    box-shadow: 3px 3px #102542;
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;
}

nav a:hover{
    background-color: #102542;
    box-shadow: 3px 3px #E0475B;
}

/*Menu au scroll*/

#menuScroll, .navScroll, .menu {
    display: flex;
    align-items: center;
}

.navScroll {
    position: relative;
    background-color: #102542;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
}

.navScroll input:checked ~ .menu {
    width: auto;
}

.navScroll input {
    width: 50px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.navScroll span {
    position: absolute;
    left: 23px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: white;
    pointer-events: none;
    transition: 0.5s;
}

.navScroll input:checked ~ span {
    background-color: #E0475B;
}
.navScroll span:nth-child(2) {
    transform: translateY(-8px);
}
.navScroll input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.navScroll span:nth-child(3) {
    transform: translateY(8px);
}
.navScroll input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s; /*pour le hover*/
}

.menu li a:hover {
    color: #E0475B;
}


/* HEADER */

#header
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titreHeader
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header h1
{
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 6px 6px #102542;
    letter-spacing: 6px;
    font-family: 'Bebas Neue', cursive;
    font-size: 140px;
}

#header h2{
    margin: 0;
    color: 102542;
    text-shadow: 3px 3px white;
    letter-spacing: 6px;
    font-family: 'Bebas Neue', cursive;;
    font-size: 50px;
}


/* CONTENU DE LA PAGE */

.page-content h2
{
    /* font-family: 'Arvo', serif; */
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    font-size: 70px;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 0 0 40px 0;

    background: linear-gradient(transparent 50%, #f3c4c0 50%, #f3c4c0 85%, transparent 75%, transparent 100%);
      background-repeat: no-repeat;
      background-size: 0% 50%;
      animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

.page-content h3
{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

.page-content h4
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.page-content .description
{
    font-size: 16px;    
}

.page-content ul
{
    padding: 0;
    margin-left: 1.2em;
}

.date
{
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}


/* CONTENU DE LA PAGE : organisation des div */

.page-content{
    display: flex;
    flex-direction: column;
}

.section-projets, .section-pro, .section-education
{
    padding: 5% 0 5% 0; /*bottom*/
}

/* .section-projets{
    background-color: #f3c4c0;
}
.section-pro{
    background-color: #feddca;
}
.section-education{
    background-color: #fee3d4;
} */

/* .section-pro, .section-education
{
    height:100vh;
} */


/* CONTENU DE LA PAGE : projets */

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    height: 400px;  
}

.left, .right{
    opacity: 0;
    width: 0px;
    transition: 0.3s ease-in-out all;
}

.left img{
    border-radius: 20px 0 0 20px;
}

.right img{
    border-radius: 0 20px 20px 0;
}

.middle{
    width: 400px;
    padding: 0 30px 0 30px;
    color: white;
    background-color:#102542;
    display: flex;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    justify-content: center;
}

.middle:hover{
    color: #102542;
    background-color:#f9e1df;
}

.middle .content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects img{
    height: 100%;
}

.projectButton{
    background-color: #f9e1df;
    color: #E0475B;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 8px;
    align-self: center;
    margin-top: 25px;
    border: none;
    box-shadow: 2px 2px #E0475B;
    cursor: pointer;
}



/* CONTENU DE LA PAGE : expériences pro */

.experiencesPro li
{
    font-size: 16px;
    text-align: left;
    padding: 8px 0 8px 0;
}


/* CONTENU DE LA PAGE : formations */

/* CARTES QUI SE RETOURNENT */

.formations, .experiencesPro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardBox {
    margin: 2%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
}
        .formations .cardBox {
            width: 300px;
        }

        .experiencesPro .cardBox {
            width: 400px;
        }
        
.cardBox:hover .card {
    transform: rotateY( 180deg);
}
  
.card {
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}
.formations .card {
    height: 300px;
}

.experiencesPro .card {
    height: 400px;
        }
        
        .card .front,
        .card .back {
            position: absolute;
            backface-visibility: hidden;
    box-sizing: border-box;
    /* display: block; */
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

        .card .front{
            background-color: #102542;
            color: WHITE;
            background-size: cover;
            box-shadow: 4px 4px #f3c4c0;
            display: flex;
            flex-direction: column;
            justify-content: center;  
        }
                /* .card #hed{
                    background-image : url("../img/fleurs/AdobeStock_209206510-50.png");
                }
                .card #hatier{
                    background-image : url("../img/fleurs/pexels-angello-4019143-50.png");
                }
                .card #robert{
                    background-image : url("../img/fleurs/AdobeStock_381443377-50.png");
                } */
                /* .card #ada{
                    background-image : url("../img/fleurs/fleurs_carre/fleur1.png");
                }
                .card #esce{
                    background-image : url("../img/fleurs/fleurs_carre/fleur2.png");
                }
                .card #abilways{
                    background-image : url("../img/fleurs/fleurs_carre/fleur3.png");
                }
                .card #openclassroom{
                    background-image : url("../img/fleurs/fleurs_carre/fleur4.png");
                }
                .card #pyramid{
                    background-image : url("../img/fleurs/fleurs_carre/fleur5.png");
                } */
        
        .card .back{
            transform: rotateY( 180deg);
            color: #102542;
            /* background-color: #f9e1df; */
            background: url("../img/fleurs/AdobeStock_209206510-25.png");
            box-shadow: 3px 3px #102542;
            display: flex;
            flex-direction: column;
            justify-content: center;  
        }
        .card .back .formations{
            background-position: bottom;
        }
        .card .back .experiencesPro{
            background-position: center;
        }
  
@-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
}
  
@keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
}



/* FOOTER */

footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #102542;
    color: white;
    padding: 10px;
    text-align: center;
}

#footer p, #footer a
{
    font-size: 12px;
    cursor: pointer;
    background-color: #E0475B;
    /*box-shadow: 3px 3px white;*/
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}




/*ne s'exécute que quand la largeur d'écran est <= 700px*/

@media screen and (max-width:1100px)
{
    .page-content h2{
        font-size: 50px !important;
    }
}


/*ne s'exécute que quand la largeur d'écran est <= 700px*/

@media screen and (max-width:700px)
{
    .navScroll{
        display: none;
    }

    h1{
        font-size: 70px !important;
        text-shadow: 5px 5px #102542 !important;
        letter-spacing: 4px;
    }

    header h2{
        font-size: 30px !important;
        text-shadow: 1.5px 1.5px white !important;
        letter-spacing: 1px;
    }

    .page-content h2{
        font-size: 40px !important;
        letter-spacing: 5px !important;
    }

    .cardBox {
        margin: 4%;
    }

    .middle{
        padding: 0 20px 0 20px;
    }    

    .right{
        display: none;
    }

    .content h3, p{
        margin: 0;  
    }

    p{
        padding-bottom: 10px;
    }

    .experiencesPro .card {
        height: 400px;
    }

    .experiencesPro li
    {
        font-size: 16px;
        padding: 5px 0 5px 0;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    footer .colonne{
        max-width: 80%;
    }

}