.boxesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardBox {
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 250px;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
  box-sizing: border-box;
  /* display: block; */
  height: 100%;
  width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}

.card .front{
  color: #111C59;
  background-color: #F7E579;
  box-shadow: 4px 4px #111C59;
}

.card .back {
  transform: rotateY( 180deg);
  color: white;
  background-color: #111C59;
  box-shadow: 3px 3px #F7E579;
  display:flex;
  flex-direction: column;
  justify-content: center;  
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}